certifi==2024.7.4
cffi==1.16.0
circuitbreaker==1.4.0
cryptography==42.0.8
oci==2.130.0
pillow==10.4.0
pycparser==2.22
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tksheet==7.2.12
ttkbootstrap==1.10.1
